
<table recent-table class="recent_table" list="awesomeThings">
	<thead></thead>		
	<tr>
	  <td title="Номер" attribute="id"></td>
	  <td title="Имя" attribute="name"></td>
	  <td title="Старт" attribute="start" type="date"></td>
	  <td title="Финиш" attribute="finish" type="date"></td>
	</tr>	
</table>

<!--
<table recent-table class="recent_table">
<tr>
    <th ng-click="sortBy('id')" style='cursor: pointer;'>Номер<i ng-class="getSortIcon('id')" style='margin-left: 10px;'></i></th>    
    <th ng-click="sortBy('name')" style='cursor: pointer;'>Имя<i ng-class="getSortIcon('name')" style='margin-left: 10px;'></i></th>
    <th ng-click="sortBy('start')" style='cursor: pointer;'>Дата<i ng-class="getSortIcon('start')" style='margin-left: 10px;'></i></th>    
</tr>
<tr ng-repeat="friend in awesomeThings | orderBy:sort:reverse">
  <td>{{friend.id}}</td>
  <td>{{friend.name}}</td>
  <td>{{friend.start | date:'d MMMM yyyy'}}</td>
</tr>
</table>
-->

<!-- table table-striped table-bordered -->

<!-- recent_table -->

<!-- date:'d MMMM yyyy' -->

<!--
<table at-table class="recent_table" list="awesomeThings">
  <thead>
    <th attribute="vowels"><i class="icon-star"></i>Contained vowels<i class="icon-star"></i></th>
  </thead>
  <tbody>
    <tr>
      <td at-implicit sortable initial-sorting="asc" class="120px" attribute="name"></td>
      <td title="Vowels" attribute="vowels">
        <span ng-repeat="vowel in vowelsList(item.name)" class="badge" ng-class="vowelClass(vowel)">
          {{vowel}}
        </span>
      </td>
      <td at-implicit  attribute="date">{{item.start | orderBy:sort}}</td>
    </tr>
  </tbody>
</table>
-->

<!-- <my-table></my-table> -->      

<!--
<table class="recent_table">
<tr>
    <th>Заявка</th>
    <th class="deadline_col">Дедлайн</th>
    <th>Ответственный</th>
    <th>Создатель</th>
    <th>Старт</th>
    <th><i class="icon_star"></i></th>
</tr>
<tr class="red">
    <td><a href="#">Бухгалтерия</a></td>
    <td><small><i class="icon_deadline"></i>28 июля 2012</small></td>
    <td><a href="#">Кузнецов Василий Иванович</a></td>
    <td><a href="#">Александр Алексеев</a></td>
    <td>7 июля 2008 </td>
    <td><i class="icon_star_td"></i></td>
</tr>
<tr class="blue highlight">
    <td><a href="#">Открыть новый офис</a><small>Развитие</small></td>
    <td>1 августа 2012</td>
    <td><a href="#">Кузнецов Василий Иванович</a></td>
    <td><a href="#">Александр Алексеев</a></td>
    <td>7 июля 2008 </td>
    <td><i class="icon_star_td"></i></td>
</tr>
</table>
-->