
<tickets></tickets>



<!-- table table-striped table-bordered -->

<!-- recent_table -->

<!-- date:'d MMMM yyyy' -->

<!--
<table at-table class="recent_table" list="awesomeThings">
  <thead>
    <th attribute="vowels"><i class="icon-star"></i>Contained vowels<i class="icon-star"></i></th>
  </thead>
  <tbody>
    <tr>
      <td at-implicit sortable initial-sorting="asc" class="120px" attribute="name"></td>
      <td title="Vowels" attribute="vowels">
        <span ng-repeat="vowel in vowelsList(item.name)" class="badge" ng-class="vowelClass(vowel)">
          {{vowel}}
        </span>
      </td>
      <td at-implicit  attribute="date">{{item.start | orderBy:sort}}</td>
    </tr>
  </tbody>
</table>
-->

<!--
<table class="recent_table">
<tr>
    <th>Заявка</th>
    <th class="deadline_col">Дедлайн</th>
    <th>Ответственный</th>
    <th>Создатель</th>
    <th>Старт</th>
    <th><i class="icon_star"></i></th>
</tr>
<tr class="red">
    <td><a href="#">Бухгалтерия</a></td>
    <td><small><i class="icon_deadline"></i>28 июля 2012</small></td>
    <td><a href="#">Кузнецов Василий Иванович</a></td>
    <td><a href="#">Александр Алексеев</a></td>
    <td>7 июля 2008 </td>
    <td><i class="icon_star_td"></i></td>
</tr>
<tr class="blue highlight">
    <td><a href="#">Открыть новый офис</a><small>Развитие</small></td>
    <td>1 августа 2012</td>
    <td><a href="#">Кузнецов Василий Иванович</a></td>
    <td><a href="#">Александр Алексеев</a></td>
    <td>7 июля 2008 </td>
    <td><i class="icon_star_td"></i></td>
</tr>
</table>
-->